// palette 
$primary-color: #f6f6f6;
$white: #ffffff;
$eerie-black: #202020;
$dark-blue: #0077b6;
$light-blue: #90e0ef;
$light-grey: #DEE2E6;
$dark-grey: #adb5bd;

// spacing
$side-padding: 2rem;

// typography
$main-typo: "Neutra Face";
$secondary-typo: "Droid Serif";
$texts-typo: "Brandon Grotesque";