@font-face {
    font-family: "Brandon Grotesque";
    src: url("../../assets/fonts/Brandon-Grotesque.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Droid Serif";
    src: url("../../assets/fonts/Droid-Serif.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Neutra Face";
    src: url("../../assets/fonts/Neutra-Face.otf") format("opentype");
    font-weight: normal;
}


